<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Camera relay</title>
	
	<link rel="stylesheet" href="/css/style.css" />

	<script src="/js/scripts.js"></script>

</head>
